/ModuleChooserController$AboutHandler.class
/ModuleChooserController$Add1Handler.class
/ModuleChooserController$Add2Handler.class
/ModuleChooserController$CreateStudentProfileHandler.class
/ModuleChooserController$Remove1Handler.class
/ModuleChooserController$Remove2Handler.class
/ModuleChooserController$ReserveAdd2Handler.class
/ModuleChooserController$ReserveAddHandler.class
/ModuleChooserController$ReserveConfirm2Handler.class
/ModuleChooserController$ReserveConfirmHandler.class
/ModuleChooserController$ReserveRemove2Handler.class
/ModuleChooserController$ReserveRemoveHandler.class
/ModuleChooserController$SaveOverviewHandler.class
/ModuleChooserController$resetHandler.class
/ModuleChooserController$submitHandler.class
/ModuleChooserController.class
